<div class="mb-6" data-controller="fields-map" data-geojson-collection="<%= @fields.map { |f| RGeo::GeoJSON.encode(f.shape) if f.shape }.compact.to_json %>">
  <div id="fields-map" class="h-96 rounded border shadow"></div>
</div>

<h1 class="text-center text-2xl font-bold mb-4">Fields</h1>

<div class="flex justify-end mt-6 mb-5">
  <%= link_to "New filed", new_field_path, class: "px-4 py-2 bg-green-600 text-white rounded" %>
</div>

<table class="min-w-full divide-y divide-blue-100">
  <thead class="bg-gray-100">
  <tr>
    <th class="px-6 py-3 text-left font-bold">Name</th>
    <th class="px-6 py-3 text-left font-bold">Area (м²)</th>
    <th class="px-6 py-3 text-left font-bold">Action</th>
  </tr>
  </thead>
  <tbody class="divide-y divide-blue-100">
  <% @fields.each.with_index do |field, index| %>
    <tr class="<%= index.odd? ? 'bg-blue-50' : 'bg-blue-100' %>">
      <td class="px-6 py-4 whitespace-nowrap"><%= link_to field.name, field %></td>
      <td class="px-6 py-4 whitespace-nowrap"><%= field.area.to_f.round(2) %></td>
      <td class="px-6 py-4 whitespace-nowrap">
        <%= link_to "View", field_path(field), class: "rounded-lg py-2 px-2 bg-blue-100 inline-block font-medium text-blue-600 hover:bg-blue-200" %> |
        <%= link_to "Edit", edit_field_path(field), class: "rounded-lg py-2 px-2 bg-green-100 inline-block font-medium text-green-600 hover:bg-green-200" %> |
        <%= link_to "Delete", field, method: :delete, data: { confirm: "Are you sure?" }, class: "rounded-lg py-2 px-2 bg-red-100 inline-block font-medium text-red-600 hover:bg-red-200" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


